/*********
GENERAL
*******/

body {
	background-color: #ffffff;

}

a {
	text-decoration: none;
	color: #000000;
}

#wrapper {
	font-family: 'Amiri', serif;		
	max-width: 940px;
	margin: 0 auto;
	padding: 20px 5%;
	background: #ffffff;
}


/*********
HEADING
*******/
header {
	background: #f2f2f2;
	float: left;
	margin: -10px 0 20px 0;
	padding: 5px 0 0 0;
	width: 100%;
}
.home {
	width: 30px;
	height: 30px;
	margin: 10px 0 0 10px;
}
#logo {
	text-align: center;	
}

h1 {
	font-family: 'Chewy', cursive;
	font-weight: 900;
	font-size: 3em;
	line-height: 0.8em;
}

h2 {
	font-family: 'Niconne', cursive;
	font-size: 1.5em;
	margin: 0 0;
	padding-bottom: 5px;
	font-weight: normal;
}

/*********
NAVIGATION
*******/

nav {
	font-family: 'Cabin Condensed', sans-serif;
	font-weight: 600;
	text-align: center;
	background: #e6e6e6;
	color: #000000;
	margin: 20px 0 0;
	padding: 7px 0;
}

.social-icon {
	width: 27px;
	height: 27px;
	margin: 0 10px;
}

nav ul {
	margin: 0 10px;
	padding: 0;
}	

nav li {
	display: inline-block;

}
nav li a {
	padding-right: 20px;
}

nav a, nav a:visited {
	color: #000000;
}
nav a:hover, nav a.selected {
	color: #005ce6;
}


/*********
PAGE: INDEX;
*******/


#social-icon ul {
	text-align: center;
	list-style: none;
}

#social-icon ul li {
	display: inline-block;
}


/*********
FOOTER
*******/
footer {
	text-align: center;	
	margin: 0;
	font-size: 0.6em;
	color: #404040;
}

footer ul {
	text-align: center;
	clear: both;
}

footer ul li {
	list-style: none;		
	display: inline-block;	
	margin: 0;
	padding: 0;
}

footer p {
	margin-left: 13px;
	margin-top: -5px;
}


.social-icon-footer {
	text-align: center;
	width: 17px;
	height: 17px;
	margin: 30px 18px 0 0;
}


/*********
PAGE: ABOUT
*******/
#profile-photo {
	display: block;
	margin: 0 0;
	max-width: 320px;
	height: 320px;
	width: 100%;
}



#paragraph {
	font-family: 'Amiri', serif;	
	text-align: center;
	margin: 10px 10px;
	padding: 10px 10px;
	font-family: 'Amiri', serif;
}
/*********
PAGE: RESUME
*******/


/*********
PAGE: CONTACT
*******/

.contact-info {
	font-family: 'Amiri', serif;	
	list-style: none;
	
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
}

.contact-info li.phone a {
	background-image: url('../img/telephone.png');
}

.contact-info li.mail a {
	background-image: url('../img/note.png');
}


