/*********
GENERAL
*******/

body {
	background-size: cover;
	height: 100%;
	background: url("../img/astronomy.jpg");	
}

.background {
	background: url("../img/astronomy.jpg");
	background-size: 100%;
}

.container {
	color: white;	
	font-family: 'Jura', sans-serif;
	letter-spacing: 0.5px;
}

p {
	font-size: 1em;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: none;
}

h1 {	
	font-weight: 900;
	font-size: 3em;
	line-height: 0.8em;
	text-align: center;
}

.button-overlay {
	position: absolute;
	top: 0;
	right: 0;
	padding: 17px 20px;
	background-color: rgba(25,41,66);
	color: #fff;
	transform-origin: 0 0;
	will-change: transform, opacity;
	display: none;
}

.col-md-6 {
	margin-top: 10%;
	text-align: center;
}

.astronaut {
	transform: scale(0);
	animation: flyInX 4s forwards;
	animation-delay: .4s;
}

.astronaut img {
	width: 30%;
	height: 30%;
	animation: flyInY 4s forwards;
	animation-delay: .4s;
}

.astronaut img::after {
	animation: animateBG 15s linear infinite;
}

.headline {
	transform: scale(0);
	animation: animateHeadline 2s forwards;
	animation-delay: 2s;
}

.about-me {
	background-color: rgba(25,41,66, .6); 
	opacity: 0;
	animation: animateAbout 2s forwards;
	animation-delay: 3s;
}

.about-me:hover .button-overlay {
	display: block;
	border: none;
	background-color: rgba(255,255,255, 0.5);
	color:rgba(25,41,66); 
}

.animatedBG {
	background: url("../img/astronomy.jpg");
	background-size: 100%;
	animation: animateBG 15s linear infinite;
	-webkit-animation: animateBG 15s linear infinite;
	-moz-animation: animateBG 15s linear infinite;
	-o-animation: animateBG 15s linear infinite;
	animation-timing-function: ease;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@keyframes animateBG {
	from { 	transform: rotate(0deg) translateX(10px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}

@-webkit-keyframes animateBG {
	from { 	transform: rotate(0deg) translateX(10px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}

@-moz-keyframes animateBG {
	from { 	transform: rotate(0deg) translateX(10px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}

@-o-keyframes animateBG {
	from { 	transform: rotate(0deg) translateX(10px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}

@keyframes animateAbout {
	0% {
		opacity: 0;
	}	
	100% {
		opacity: 1;
	}
}

@keyframes animateHeadline {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes flyInY {
	0% {
		transform: translateY(300px) scale(0);  
	}
	100% {
		transform: translateY(0) scale(1); 
	}
}

@keyframes flyInX {
	0% {
		transform: translateX(500px);  
	}
	100% {
		transform: translateX(0);
	}
}




/*********
RESUME
*******/
#resume {
	background-color: rgba(25,41,66, .6); 
	color: white;
	text-align: left;
}

#heading {
	text-align: center;
	padding: 10px;
}

#heading:hover #name-job{
	color: #9d8cd9;
	opacity: 0.9;
}

#name {
	font-size: 40px;
	font-weight: bold;
}

#profession {
	font-size: 20px;
	font-weight: bold;
}

.contact-info img{
	height: 25px;
	width: 25px;
	margin-right: 15px;
}

.contact-info {
	display: inline;
	padding: 10px;
}

.date {
	opacity: 0.7;
	padding-left: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.job-title {
	padding-top: 0px !important;
	padding-left: 0px;
}

.job-title:hover .school {
	color: orange !important;
}

.job-title:hover .company {
	color: orange !important;
}

.sub-title {
	color: #9d8cd9;
	font-weight: bolder;
	padding-left: 45px;
	padding-top: 15px;
	font-size: 18px;
}

ul {
	margin: 0px;
}

.list-description {
	color: #f5d5e3;
	opacity: 0.9;
}

.list-description:hover {
	color: white;
}

.sub-title-description {
	padding-top: 15px;
	padding-right: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.headstorm-icon {
	width: 25px;
	height: 25px;
}

.utd-icon {
	width: 25px;
	height: 25px;
	border-radius: 100%;
}

.hoasen-icon {
	width: 30px;
	height: 30px;
}

footer {
	text-align: center;
	opacity: 0.7;
}
